.navbar-nav .nav-link.active {
  background-color: rgba(196, 196, 196, 0.4);
}

.fill {
  width: 100%;
  justify-content: space-between;
}

.bordered-links .nav-link {
  border: 1px solid #000;
  color: rgb(58, 58, 58) !important;
}

form {
  position: relative;
}

button {
  margin-top: 2rem;
}

.round {
  /* border-radius: 50%; */
}

.alphabet {
  border: 1px solid rgba(71, 71, 71, 0.829);
  border-radius: 0.2rem;
}
