.cm-link {
	border: 2px solid #0275d8;
	color: #000 !important;
	border-radius: 20px;
	margin: 0.5rem;
	padding: 0.5rem 1rem;
	text-align: center;
}

.cm-link.active {
	background-color: #0275d8 !important;
	color: #fff !important;
}

.round {
	border-radius: 20px;
	text-align: center;
}

.round-input {
	height: 6vh;
	border: 2px solid #eee;
	box-shadow: 0.5px 0.5px 0.5px 1px #eee;
	color: #999;
	outline: none;
	border-radius: 20px;
	padding-left: 12px;
}
